.film-card {
  padding: 10px 15px;
  border: 2px solid white;
  width: 200px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
}

.film-image {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.film-card h2 {
  font-size: 1.1rem;
  margin: 0;
  text-align: center;
}

.film-card p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
  font-size: 0.9rem;
}
